$font2: "Open Sans Condensed";
$color2: #fff;
@media (min-width: 1856px) { 
   .pics__scroll {
      min-width: 26.6%;
   }
}
@media (min-width: 1720px) {
   .col1__text {
      font-size: 16px;
   }
}
@media (min-width: 1630px) { 
   .col1__text {
      font-size: 14px;
   }
   .pics__scroll {
      max-width: 26.6%;
   }
}

@media (max-width: 1427px) {
   .menu__link {
      margin: 0px 40px 0px 0px;
   }
}
@media (max-width: 1370px) {
   .inform2 {
      justify-content: space-evenly;
   }
   .col1 {
      max-width: 50%;
      .col1__text {
         font-size: 13px;  
      }
   }
   .col3 {
      margin-top: 100px;
   }
   
}

@media (max-width: 1263px) {
   .menu__link {
      margin: 0px 30px 0px 0px;
      font-size: 16px;
   }
}

@media (max-width: 1235px) {
   .content1__picture {
      width: 30%;
      padding-top: 17%;
   }
   .content1__header {
      padding-top: 25%;
   }
  
}

@media (max-width: 1119px) {  
   .menu__link {
      font-size: 14px;
   }
   .header__phone {
      font-size: 14px; 
   }
   .numbers__num {
      font-size: 14px;
      
   }
   .pics__scroll {
      max-width: 34%;
   }
   ._4 {
      display: none;
   }
  

}

@media (max-width: 1026px) {
   .content1 {
      text-align: left;
      .content1__picture {
         display: none;
      }
      .content1__text {
         width: auto;
      }
   } 
   .menu__link {
      font-size: 12px;
   }
   .header__phone {
      font-size: 12px; 
   }
   .col1__text {
      font-size: 12px;
   }
 
}

@media (max-width: 933px) {
  
   .numbers {
      justify-content: space-between;
      .numbers__num {
         font-size: 13px;
      }
   } 
   .header__container {
      flex-wrap: wrap;
      justify-content: center;
   }
   .header__phone {
      margin-right: auto;
      margin-left: auto;
   }
   .col1 {
      max-width: 100%;
      .col1__header {
         text-align: center;
         font-size: 21px;
      }
      .col1__text {
         font-size: 14px;
         text-align: center;
      }
   }
   .col2 {
      padding-top: 100px;
   }
   .rating__text {
      font-size: 30px;
   }
}

@media (max-width: 850px) {
   .send__text {
      font-size: 10px;
   }
}

@media (max-width: 822px) { 
   .content1__header {
      font-size: 55px;
      margin: 0px 0px 25px 0px;
   }
   .content1__text {
      font-size: 14px;
      margin: 0px 0px 33px 0px;
   }
   .content1__button button{
      font-size: 17px;
      padding: 1.5% 4%;
   }
   .menu {
      font-size: 10px;
      .menu__link {
         margin: 0px 20px 0px 0px;
      }
   }
   .inputs {
     justify-content: space-between;
     flex-wrap: wrap;
   }
   .inputs__td {     
      width: 45%;
      height: 40px;
      margin-bottom: 15px;
   }
   .numbers {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      .numbers__num {
         font-size: 12px;
         margin-bottom: 5%;
         margin: 2% 1.6%;   
      }
   }
 
   .pics__scroll {
      max-width: 32%;
   }
   .inform4__years {
      font-size: 70px;
   }
   .stars__star {
      margin-right: 4%;
   }
   .rating {
      margin-left: 7%;
   }
   .rating__text {
      font-size: 25px;
   }

}
@media (max-width: 778px) {
   .col2{
     text-align: center;
   }
   .pics__scroll {
      max-width: 50%;
   }
   ._3 {
      display: none;
   }
   .fixmenu {
      width: 77px;
   }
  .send__button {
   font-size: 15px;
  }
  .send__text {
     font-size: 9px;
  }
  .inform4__years {
   padding-left: 13%;
   font-size: 65px;
 
}

}
@media (max-width: 678px) {
.menu__link {
  font-size: 11px;
}
.content1__header {
   font-size: 52px;
   margin: 0px 0px 12px 0px;
}
.content1__text {
   margin: 0px 0px 30px 0px;
}
.send__text {
   line-height: 120%;
}
.numbers__num {
   margin: 2% auto;   
}
}

@media (max-width: 641px) {

#menu__toggle {
   opacity: 0;
   &:checked ~ .menu__btn > span{
      transform: rotate(45deg);
      &::before {
         top: 0;
         transform: rotate(0); 
      }
      &::after {
         top: 0;
         transform: rotate(90deg);
      }
   }
   &:checked ~ .menu {
      visibility: visible;
      left: 0;
    }
 }
 %menu-btn {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #616161;
   transition-duration: .25s; 
 }
 .menu__btn {
   display: flex;
   align-items: center;
   position: fixed;
   top: 20px;
   right: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
   >span {
		@extend %menu-btn;
		&::before {
         @extend %menu-btn;
			content: '';
			top: -8px;
		}
		&::after {
         @extend %menu-btn;
			content: '';
			top: 8px;
		}
	}
 }
 .menu {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   right: -100%;
   width: 65%;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   background-color: #333;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   transition-duration: .25s;
 }
 .menu__link {
   display: block;
   padding: 12px 30px;
   color: $color2;
   font-family: $font2;
   font-size: 18px;
   font-weight: 600;
   transition-duration: .25s;
   &:hover {
      background-color: #4b4b4b;
   }
 }

.header__container {
   justify-content: end;
}
.header__phone {
   display: none;
}
.send__text {
   display: none;
}
}

@media (max-width: 577px) {
._container {
    margin-left: 11%;
 }
.fixmenu {
   display: none;
}

.content1__header {
   font-size: 45px;
}
.content1__text {
   margin: 0px 0px 30px 0px;
}
.pics__scroll {
   max-width: 56%;
}
.inputs__td {     
   width: 100%;
  margin-top: 15px;
}
}

@media (max-width: 499px) {
   .content1__header {
      font-size: 40px;
   }
   .inform4__years {
      padding-left: 10%;
      font-size: 56px;
   }
   .stars__star {
      margin-right: 4%;
   }
   .rating__text {
      font-size: 21px;
   }
   .numbers__num {
      width: 100%;
   }
}
@media (max-width: 444px) {
   .content1__header {
      font-size: 30px;
   }
   .rating__text {
      margin-top: 4%;
      font-size: 19px;
   }
   .inform4__years {
      padding-left: 4%;
      font-size: 52px;
   }
   .stars__star {
      margin-right: 2%;
   }
   .inform4 {
      margin-top: 10%;
   }
   .col3 {
      margin-right: 3.7%;
   }

}

@media (max-width: 344px) {

   .content1__header {
      font-size: 30px;
   }
   .rating__text {
      margin-top: 4%;
      font-size: 16px;
   }

}
@media (max-width: 333px) {
   .content1__header {
      font-size: 28px;
   }
   .content2__header,
   .content3__header,
   .inform5__header,
   .inform6__header {
      font-size: 44px;
   }
  
}
@media (max-height: 715px) {  
   .fixmenu__text {
      margin-top: 233px; 
   }
}
@media (max-height: 612px) {  
   .fixmenu__text {
      margin-top: 220px; 
      font-size: 14px;
      .links {
         padding-top: 110px;
         .links img {
            padding-bottom: 26px;
         }
      }
   }
}
@media (max-height: 587px) {  
   .fixmenu__text {
     display: none;
     .links {
      padding-top: 150px;
   }
   }
}
@media (max-height: 356px) {  
   .links {
      padding-top: 90px;
   }
}
