@import "nullstyle.scss";

//---------------------------------------------------------------
 .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
 }
 ._container {
    max-width: 72%;
    margin: 0px auto;
    padding: 0px 15px;
    margin-left: 15%;
    box-sizing: content-box;
 }


//----------------------------------------------------------------
$font1: "Open Sans";
$font2: "Open Sans Condensed";
$color1: #D1A954;
$color2: #fff;
@mixin fontstyle ($fontweight,$letspace, $linehight) {
   font-weight: $fontweight;
   letter-spacing: $letspace;
   line-height: $linehight;
}
.word1 {
   color: $color1;
 }
//------------------header----------------------------------------
#menu__toggle {
   display: none;
}
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
   .header__container {
      display: flex;
      min-height: 77px;
      align-items: center;
   } 
}
.header__phone {
   @include fontstyle (700, 0, 157%);
   margin: 0px 0px 0px auto;
   font-size: 16px;
   border-bottom: 2px solid $color1;  
}
.menu {
   @include fontstyle (700, 0.1em, 178%);
   font-size: 18px;
   text-transform: uppercase;
   padding: 5px 0px;
}
.menu__link {
   margin: 0px 63px 0px 0px;
   color: $color2; 
}

/*----------------------fix-------------------------------*/
.fix {
   display: flex;
   .fixmenu {
      width: 90px;
      height: 100%;
      background-color: #3d3d3d;
      z-index: 2;
      position: fixed;
   }
}
.fixmenu__text {
   @include fontstyle (700, 0.1em, 0%);
   margin-top: 333px; 
   font-size: 16px;
   text-transform: uppercase;
   color: #C4C4C4;
   transform: rotate(-90deg);
   white-space: nowrap;
}
.links {
   margin: 30px;
   padding-top: 160px;
   img {
      padding-bottom: 26px;
   }
}

/*-------------------page1--------------------------*/

.page_1 {
   padding-bottom: 200px;
   background-image: url('../img/theatre.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.content1  {
   position: relative;
   z-index: 2;
   .content1__picture {
      float: right; 
      padding-top: 17%;
   }
}
.content1__header {
   @include fontstyle (700, 0.1em, 87px);
   font-size: 64px;
   padding-top: 28%;
   margin: 0px 0px 50px 0px;
}
.content1__text {
   @include fontstyle (400, 0, 150%);
   font-family: $font1;
   font-size: 14px;
   margin: 0px 0px 50px 0px;
   width: 49%;
}
.content1__button button {
   @include fontstyle (700, 0.1em, 138%);
   font-family: $font2;
   font-size: 18px;
   color: $color2;
   background-color: $color1;
   padding: 1.5% 4%;
}

/*---------------------------page2------------------------------*/
.content2  {
   position: relative;
   z-index: 2;
   .content2__header {
      @include fontstyle (300, 0.1em, 135%);
      font-size: 48px;
      text-align: center;
      margin-top: 200px;
      margin-bottom: 100px;
   }
}
.inform2 {
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.col1 {
   max-width: 40%;
   .col1__header {
      @include fontstyle (700, 0.1em, 138%);
      height: 23px;
      font-size: 21px;
   }
   .col1__text {
      @include fontstyle (400, 0, 175%);
      font-family: $font1;
      font-size: 13px;
      padding-top: 40px;
      padding-right: 2%;
   }
}

.col2__header {
   @include fontstyle (700, 0.1em, 138%);
   font-size: 21px;
   padding-bottom: 40px;
}
.col2__text {
   @include fontstyle (700, 0.05em, 115%);
   font-size: 16px;  
   margin: 7.5% 0px;
}

/*-----------------------------page3---------------------*/
.content3__header {
   @include fontstyle (300, 0.1em, 135%);
   font-size: 48px;
   text-align: center;
   padding-top: 150px;
   margin-bottom: 100px;
}
.pics {
   display: flex;
   padding-left: 10%;
   justify-content: flex-end;
}
.pics__scroll {
   max-width: 26.2%;
}
/*--------------------------------page4---------------------*/
.content4 {
   display: flex;
   justify-content: center;  
}
.content4 img {
   position: relative;
   z-index: 1;
   padding-top: 150px;   
}
.inform4 {
   display: flex;
   position: absolute;
   z-index: 2; ;  
}
.inform4__years {
   @include fontstyle (700, 0.1em, 136%);
   font-size: 72px;
   color: $color1;
   padding-top: 276px;
   padding-left: 16%;
}
.stars__star {
   margin-right: 4%;
}
.rating {
   padding-top: 167px;
   margin-left: 9%;
}
.rating__text {
   @include fontstyle (700, 0, 150%);
   font-family: $font1;
   font-size: 36px;
   max-height: 20%;
   margin-top: 25px;
}
 /*-------------page5----------------------------*/
.inform5__header {
   @include fontstyle (300, 0.1em, 135%);
   font-size: 48px;
   text-align: center;
   padding-top: 150px;
}
.partners {  
   padding-top: 100px;   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   .partners__logo {
      max-width: 200px;
      max-height: 445px;
      margin: 1%;
      margin-bottom: 80px; 
   }
} 

/*---------page6----------------------------*/
.inform6__header {
   @include fontstyle (300, 0.1em, 135%);
   font-size: 48px;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 100px;
}
.numbers {
   padding-top: 0px;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10px;
}
.numbers__num {
   @include fontstyle (700, 0.05em, 137%);
   font-size: 16px;
   text-transform: uppercase;   
}
.send {
   display: flex;
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 70px;
}

.send__text {
   @include fontstyle (400, 0, 150%);
   font-family: $font1;
   font-size: 12px;
   color: #989898;
   max-width: 390px;
   margin-right: 135px;
}
.send__button {
   @include fontstyle (700, 0.1em, 25px);
   padding: 12px 3.61%;
   background-color: $color1;
   color: $color2;
   font-family: $font2;
   font-size: 18px;
}
.inputs {
   display: flex;
   justify-content: space-between;
}

.inputs__td {
   font-family: $font1;
   font-weight: 600;
   font-size: 12px; 
   color: #989898;
   background: #444444;
   border: 1px solid #616161;
   width: 20%;
   height: 40px;
}

/*-------footer--------------------------------*/
.footer p {
   @include fontstyle (400, 0, 150%);
   font-family: $font1;
   font-size: 12px;
   color: #989898;   
   margin-top: 30px;
   margin-bottom: 30px;
}
.footer__container hr {
   margin-top: 60px;
   border-top: 1px solid #565656;
}
@import "media.scss";
